@import url('http://fonts.googleapis.com/css?family=Roboto:400,500i,700i&display=swap');
h1 {
  color: #ff6961;
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
}

// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
